.checkout {
  padding: 20px;
  height: max-content;
  background-color: white;
}
.checkout-tit {
  display: flex;
}

.checkout_ad {
  width: 1050px;
  margin-bottom: 10px;
  height: 250px;
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
